.header{
    height: 70px;
    width: auto;
    background-color: black;
}
.crud{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton{
    margin-right: 10px;
}